.gm-style-iw-chr .gm-style-iw-ch {
    font-weight: 500;
    font-size: 14px;
}

.description, .category {
    margin-top: 10px;
}

.description {
    max-height: 100px;
    overflow: auto;
}

.marker-pin {
    background-size: contain;
    background-repeat: no-repeat;
    /* Immitate the width and height of the default Google Maps pin: */
    width: 26px; 
    height: 37px;
}

.marker-label {
    position: absolute;
    top: 0;
    left: 30px;
    color: #cc0000;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    max-width: 150px;
    width: 120px;
    text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
}

.marker-label-long-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word; 
    padding-left: 2px;
}
